body {
    background: var(--primary-background-color);
}

.header-main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px 0 24px;
}

.header-main .header__logo {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.sign-in-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
}

.sign-in .sign-in__title {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 20px;
    margin-top: 5px;
}

.sign-in .sign-in__form {
    width: 100%;
    background: var(--secondary-background-color);
    border-radius: 6px;
    padding: 20px 20px;
}

.sign-in .form__input {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.sign-in .form__input-text {
    display: inline-block;
    width: 100%;
    margin-bottom: 7px;
    font-weight: 400;
}

.sign-in .form__input-text-more {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    color: var(--link-color);
    font-weight: 200;
}

.sign-in .form__input-text-more:hover,
.footer .footer-item:hover {
    text-decoration: underline;
}

.sign-in .form__input-item {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 15px;
    position: relative;
}

.sign-in .form__input-input {
    width: 100%;
    padding: 5px 12px;
    font-size: 14px;
    line-height: 20px;
    border-radius: 6px;
    background-color: var(--primary-background-color);
    border: 1px solid var(--border-color);
    color: var(--input-color);
}

/* Change Autocomplete styles in Chrome*/
.sign-in .form__input-input:-webkit-autofill,
.sign-in .form__input-input:-webkit-autofill:hover,
.sign-in .form__input-input:-webkit-autofill:focus {
    background-color: var(--primary-background-color);
    -webkit-text-fill-color: var(--input-color);
    transition: background-color 5000s ease-in-out 0s;
}

.sign-in .form__input-input:focus {
    border-color: var(--border-color-hover);
    box-shadow: 0 0 0 3px var(--box-shadow-color);
}

.sign-in .form__input-item-toggle-password {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}

.sign-in .form__input-item-toggle-password:hover {
    opacity: 0.8;
}

.sign-in .form__input-item-toggle-password.hide:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 2px;
    transition: 0.5s;
    transform: translate(-50%, -50%) rotate(135deg);
    background-color: var(--primary-color);
}

.sign-in .sign-in__sign-up {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 10px;
    padding: 15px 20px;
    text-align: center;
    border: 1px solid rgba(110, 118, 129, 0.4);
    border-radius: 6px;
    font-size: 15px;
}

.sign-in .sign-in__sign-up-link {
    color: var(--link-color);
}

.footer .footer-main {
    margin-top: 40px;
    padding: 40px 40px;
}

.footer .footer-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer .footer-item {
    font-size: 12px;
    color: var(--link-color);
}
