body {
    background: var(--primary-background-color);
}

.header-main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px 0 24px;
}

.header-main .header__logo {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

/* Main */
.sisu .container-form {
    position: relative;
    min-height: 465px;
}

.sisu .sisu-main {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    min-width: 340px;
}

#sign-up {
    opacity: 0;
    transform: translateX(calc(100% + 32px));
}

@keyframes signin-slideOutLeft {
    from {
        opacity: 1;
        transform: translateX(0);
        visibility: visible;
    }
    to {
        opacity: 0;
        transform: translateX(calc(-100% - 32px));
        visibility: hidden;
    }
}

@keyframes signin-slideInRight {
    from {
        opacity: 0;
        transform: translateX(calc(-100% - 32px));
        visibility: hidden;
    }
    to {
        opacity: 1;
        transform: translateX(0);
        visibility: visible;
    }
}

@keyframes signup-slideInLeft {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 32px));
        visibility: hidden;
    }
    to {
        opacity: 1;
        transform: translateX(0);
        visibility: visible;
    }
}

@keyframes signup-slideOutRight {
    from {
        opacity: 1;
        transform: translateX(0);
        visibility: visible;
    }
    to {
        opacity: 0;
        transform: translateX(calc(100% + 32px));
        visibility: hidden;
    }
}

.sisu .sisu__title {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 20px;
    margin-top: 5px;
}

.sisu .sisu__form {
    width: 100%;
    background: var(--secondary-background-color);
    border-radius: 6px;
    padding: 20px 20px;
}

.sisu .form__input {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.sisu .form__input-text {
    display: inline-block;
    width: 100%;
    margin-bottom: 7px;
    font-weight: 400;
}

.sisu .form__input-text-more {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    color: var(--link-color);
    font-weight: 200;
}

.sisu .form__input-text-more:hover,
.footer .footer-item:hover {
    text-decoration: underline;
}

.sisu .form__input-item {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 15px;
    position: relative;
}

.sisu .form__input-input {
    width: 100%;
    padding: 5px 42px 5px 12px;
    font-size: 14px;
    line-height: 20px;
    border-radius: 6px;
    background-color: var(--primary-background-color);
    border: 1px solid var(--border-color);
    color: var(--input-color);
}

/* Change Autocomplete styles in Chrome*/
.sisu .form__input-input:-webkit-autofill,
.sisu .form__input-input:-webkit-autofill:hover,
.sisu .form__input-input:-webkit-autofill:focus {
    background-color: var(--primary-background-color);
    -webkit-text-fill-color: var(--input-color);
    transition: background-color 5000s ease-in-out 0s;
}

.sisu .form__input-input:focus {
    border-color: var(--border-color-hover);
    box-shadow: 0 0 0 2px var(--box-shadow-color),
        0 0 10px 4px var(--box-shadow-color);
}

.sisu .form__input-input.success {
    border-color: green;
    box-shadow: 0 0 0 2px #1e4d1e;
}

.sisu .form__input-input.success:focus {
    box-shadow: 0 0 0 2px #1e4d1e, 0 0 10px 4px #1e4d1e;
}

.sisu .form__input-input.error {
    border-color: #c11f1f;
    box-shadow: 0 0 0 2px #701616;
}

.sisu .form__input-input.error:focus {
    box-shadow: 0 0 0 2px #701616, 0 0 10px 4px #701616;
}

.sisu .form__input-item-toggle-password {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}

.sisu .form__input-item-toggle-password i {
    font-weight: 300;
}

.sisu .form__input-item-toggle-password.hide:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 2px;
    transition: 0.5s;
    transform: translate(-50%, -50%) rotate(135deg);
    background-color: var(--primary-color);
}

.sisu .sisu__sign-up {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 10px;
    padding: 15px 20px;
    text-align: center;
    border: 1px solid rgba(110, 118, 129, 0.4);
    border-radius: 6px;
    font-size: 15px;
}

.sisu .sisu__sign-up-link {
    color: var(--link-color);
}

.sisu .form__input-item-text {
    margin-bottom: 20px;
    display: block;
}

.input-checkbox {
    position: relative;
    margin-right: 8px;
    width: 20px;
    height: 20px;
    -webkit-appearance: none;
    outline: none;
    transition: 0.5s;
}

.input-checkbox:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    border: 1px solid var(--border-color);
}

.input-checkbox:checked:before {
    border-left: none;
    border-top: none;
    width: 10px;
    border-color: #0f0;
    transform: rotate(45deg);
}

/* .footer .footer-main {
    margin-top: 40px;
    padding: 40px 40px;
}

.footer .footer-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer .footer-item {
    font-size: 12px;
    color: var(--link-color);
} */
/*thanglhce footer*/
footer {
    margin-top: 40px;
    text-align: center;
    clear: both;
    width: 100%;
}

footer ul {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-around;
    color: var(--link-color);
}
footer .footer-item:hover {
    text-decoration: underline;
}

footer h1 {
    /*color:*/
    margin-bottom: 30px;
}
/* 
footer h2 {
    color:
    margin-top: 40px;
} */
