body {
    background-color: #373e57;
    color: #ccc8db;
}
.search-box {
    background-color: #24273b;
    width: 50%;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid transparent;
    border-radius: 5px;
}
.search-box h3 {
    margin-bottom: 20px;
}
.search-details {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 8px;
    min-height: 80px;
}

.search-img img {
    object-position: center;
    object-fit: cover;
    width: 60px;
    height: 60px;
    border: 1px solid #ffffff;
    border-radius: 50%;
}
.search-information {
    flex-grow: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.search-information a {
    font-size: 18px;
    margin-bottom: 5px;
}
.search-information p {
    font-size: 15px;
    margin-bottom: 3px;
}
.search-status {
    height: 40px;
    width: 40px;
    border: 1px solid transparent;
    border-radius: 100rem;
    background-color: #ccc8db;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-status i {
    color: #000000;
}
