* {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #272a3a;
}
.flex {
  display: flex;
}
.flex_column {
  flex-direction: column;
}
.flex_al_ct {
  align-items: center;
}
.w_icon {
  width: 36px;
}
.h_icon {
  height: 36px;
}
.h_auto {
  height: auto;
}
.font_icon {
  font-size: 20px;
  text-align: center;
}

.bd_circle {
  border-radius: 50%;
}
.bd_rd {
  border-radius: 6px;
}
.h_52 {
  height: 52px;
}

.p_element {
  padding: 0px 8px;
}
.m_10 {
  margin: 0px 10px;
}
.font_weight {
  font-weight: 600;
}
.scale {
  object-fit: cover;
  object-position: center;
}

.hov:hover {
  background-color: rgba(128, 128, 128, 0.3);
}
.more_icon {
  transition: transform 0.2s;
}

.leftpanel {
  width: 280px;
  height: 100vh;
  margin-right: auto;
  overflow: auto;
  color: white;
  background-color: #272a3a;
  position: relative;
  padding-top: 10px;
  cursor: pointer;
}

/* custom scroll bar  */
.leftpanel::-webkit-scrollbar {
  width: 20px;
}
.leftpanel::-webkit-scrollbar-track {
  background-color: transparent;
}
.leftpanel::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.leftpanel:hover::-webkit-scrollbar-thumb {
  background-color: grey;
}
