:root {
  --primary-background-color: #0d1117;
  --secondary-background-color: #161b22;
  --primary-color: rgb(201, 209, 217);
  --border-color: #2d333a;
  --border-color-hover: #1d67db;
  --link-color: #58a6ff;
  --box-shadow-color: #0c2d6b;
  --input-color: #c9d1d9;
  /*khang*/
  --background-color: #272a3a;
  --white-color: #ffffff;
  --black-color:#000000;
  --offline-color: #606a8d;
  --online-color: #0f0;
  --profile-box:#151728;
  /*khang*/
}

html[dark] {
  --primary-background-color: #ccc;
  --secondary-background-color: #161b22;
  --primary-color: rgb(201, 209, 217);
  --border-color: #2d333a;
  --border-color-hover: #1d67db;
  --link-color: #58a6ff;
  --box-shadow-color: #0c2d6b;
  --input-color: #c9d1d9;
}
